<div class="footer">
  <p class="info">너랑나랑 자원봉사센터(너랑나랑협동조합)<br><br>
    주소: 충청북도 청주시 서원구 개신동 29(충북대학교 S4-1 201호)<br>
    Tel: 010-2462-2287 E-mail: bbb381@naver.com<br></p>
    <div class="foot"><img class="footerimage" src="/img/title.png"></div>
</div>
