<div class="wrapper">
  <div class="wrapper">
    <a href="/" class="header">
      <img class="title" src="/img/title.png"></a>
    <div class="dropdown">
      <a href="/about" class="btn">너랑나랑이란?</a>
      <div class="dropdown-content">
        <div id="ch1">
          <a href="/about">너랑나랑 소개</a>
          <a href="/story">너랑나랑 이야기</a>
          <a href="/member">조직구성</a>
        </div>
        <div id="ch2">
          <a href="http://localhost:3000/applys/index">봉사 등록/신청</a>
        </div>
        <div id="ch3">
          <a href="http://localhost:3000/posts/index">봉사 후기</a>
          <a href="http://localhost:3000/posts2/index">질문 게시판</a>
        </div>
        <div id="ch4">
          <a href="http://localhost:3000/posts3/index">공지사항</a>
          <a href="http://localhost:3000/posts4/index">사이트 현황</a>
        </div>
      </div>
      <a href="http://localhost:3000/applys/index" class="btn">봉사게시판</a>

      <a href="http://localhost:3000/posts/index" class="btn"> Community</a>
      <a href="http://localhost:3000/posts3/index" class="btn">공지</a>

    </div>
    <div class="log">
      <% if(isAuthenticated){ %>
        <% if(currentUser.id =="manager"){ %>
          <a href="/users/manage" class="login">회원관리</a>
          <% } else { %>
      <a href="/users/" class="login">내 정보</a>
      <% } %>
      <a href="/logout" class="login">로그아웃</a>
      <% } else { %>
      <a href="/users/new" class="login">회원가입</a>
      <a href="/login" class="login">로그인</a>
      <% } %>
    </div>
  </div>
