

<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <style>
  body {
      font-family: 'Noto Sans KR', sans-serif;
    }
  .head{
    padding-top: 10px;
  width: 1905px;
  height: 250px;
}
.banner{
  width: 1905px;
  height: 250px;
}
.path{
  position: absolute;
  top:255px;
  background-color: rgba(33,33,33,0.8);
  width: 1905px;
  height: 70px;
}

#path_text{
  color: rgba(255,255,255,0.7);
  padding-top: 20px;
padding-left: 400px;
font-size: 20px;
}
.main{
  width: 1900px;
  padding-left: 350px;
  height: 700px;
  padding-right: 300px;
}
#title{
  color:#000;
  font-size: 15px;
}
span{
  padding-right: 5px;
  color: #CC723D;
}
     #content_text{
       padding-top: 50px;
       padding-left: 40px;
       font-size: 30px;
     }

.can{
  font-size: 20px;
}
.form-control{
  font-size: 15px;
}
.btnsubmit{
  position: absolute;
  top:880px;
  left: 860px;
  width: 200px;
  height: 70px;
  background-color:  #CC723D;
  border:none;
  color:#fff;
  font-size: 20px;
}
.btnsubmit:hover{
color:  #CC723D;
background-color:  #fff;
border:3px solid #CC723D;
}
</style>
  <body>
    <%- include('../partials/nav') %>


    <div class="head">
      <img class="banner" src="/img/head.png">
      <div class="path"><p id="path_text"><span class="glyphicon glyphicon-home"></span>
         ＞ Community ＞봉사 후기 ＞질문 등록 </p></div>
    </div>

      <div class="main">
        <p id="content_text"><span class="glyphicon glyphicon-pencil"></span>
          질문 등록</p>

        <hr>
        <div class="container mb-3">

          <div class="container mb-3">
            <form action="/posts2/new" method="post">

              <!-- title  -->
              <div class="form-group">
                <p class="can" for="title"><span class="glyphicon glyphicon-grain"></span>제목</p>
                <input type="text" id="title" name="title" class="form-control">
              </div>

              <!-- content   -->
              <div class="form-group">
                <p class="can" for="content"><span class="glyphicon glyphicon-grain"></span>내용</p>
                <textarea id="content" name="content" rows="10" class="form-control"></textarea>
              </div>

              <div>
                <button type="submit" class="btnsubmit">등록</button>
              </div>

            </form>
          </div>

        </div>
      </div>

    <%- include('../partials/footer') %>




  </body>
</html>
