<!DOCTYPE html>
<html>

<head>
  <%- include('../partials/head') %>
</head>
<style>
  .head {
    padding-top: 10px;
    width: 1905px;
    height: 250px;
  }

  .banner {
    width: 1905px;
    height: 250px;
  }

  .path {
    position: absolute;
    top: 255px;
    background-color: rgba(33, 33, 33, 0.8);
    width: 1905px;
    height: 70px;
  }

  #path_text {
    color: rgba(255, 255, 255, 0.7);
    padding-top: 20px;
    padding-left: 600px;
    font-size: 20px;
  }

  .main {
    width: 1900px;
    padding-left: 600px;
    height: 970px;
    padding-right: 300px;
  }

  #title {
    padding-top: 50px;
    color: #000;
    font-size: 50px;
  }

  .menu {
    position: absolute;
    top: 255px;
    left: 280px;
    height: 1029px;
    width: 270px;
    background-color: #fff;
    border: 0.2px solid;
    border-color: rgba(69, 69, 69, 0.2);
  }

  .menutitle {
    padding-bottom: 27px;
  }

  .menubtn {
    background-color: yellow;
    height: 100px;
    padding: 20px 121px;
  }

  #mini {
    font-size: 30px;
    padding-top: 80px;
    padding-bottom: 20px;
    text-align: center;
  }

  #content_text {
    padding-left: 10px;
    padding-top: 30px;
    font-size: 25px;
    padding-bottom: 5px;
  }

  span {
    padding-right: 5px;
    color: #CC723D;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 270px;
    background-color: #E6E6E6;
  }

  li a {
    font-size: 16px;
    display: block;
    color: #000;
    padding: 20px 20px;
    text-decoration: none;
  }

  li a:hover:not(.active) {
    background-color: #CC723D;
    color: white;
    text-decoration:none;
  }

  .form-group {
    padding-left: 48px;
  }

  .form-control {
    width: 400px;
    height: 70px;
    font-size: 20px;
    padding-left: 25px;
  }
  .mt-3{
    position: absolute;
    top:544px;
    left: 1100px;
  }
  .logbtn{
    width: 130px;
    height: 240px;
    background-color:  #CC723D;
    border:none;
    color:#fff;
    font-size: 25px;
  }
  .logbtn:hover{
  color:  #CC723D;
  background-color:  #fff;
  border:6px solid #CC723D;
  }

</style>

<body>
  <%- include('../partials/nav') %>
  <div class="head">
    <img class="banner" src="/img/head.png">
    <div class="path">
      <p id="path_text"><span class="glyphicon glyphicon-home"></span>
        ＞ 회원 ＞ 로그인</p>
    </div>
  </div>

  <div class="menu">
    <div class="menutitle">
      <p id="mini">회원</p>
      <hr width="180px" style="border: solid 2px #CC723D">
    </div>
    <div id="side_left">
      <ul>
        <li><a href="/users/new">
            ▶ 회원가입</a></li>
        <li><a href="/login">
            ▶ 로그인</a></li>
      </ul>
    </div>
  </div>

  <div class="main">
    <p id="title">로그인</p>
    <hr>

    <div class="container">
      <form class="user-form" action="/login" method="post">
        <p id="content_text"><span class="glyphicon glyphicon-grain"></span>
          아이디</p>

        <div class="form-group row">
          <div class="col-sm-9">
            <input type="text" id="username" name="username" class="form-control">
          </div>
        </div>
        <p id="content_text"><span class="glyphicon glyphicon-grain"></span>
          비밀번호</p>
        <div class="form-group row">
          <div class="col-sm-9">
            <input type="password" id="password" name="password" value="" class="form-control">
          </div>
        </div>
        <div class="mt-3">
          <input class="logbtn" type="submit" value="로그인">
        </div>

      </form>

    </div>
    </p>
  </div>
  </div>



  <%- include('../partials/footer') %>

</body>

</html>
